@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "Gig Feed";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Gig Feed</h2>
<table id="gigs" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Artist</th>
            <th>Venue</th>
            <th>Date</th>
            <th>Genre</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>

@section scripts
{
    <script>
        $(document).ready(function () {
            var today = new Date();

            var table = $("#gigs").DataTable({
                ajax: {
                    url: "/api/attendances/myattendances",
                    dataSrc: ""
                },
                columns: [
                    {
                        data: "gig.artist.artisticName"
                    },
                    {
                        data: "gig.venue"
                    },
                    {
                        data: "gig.date",
                        render: function (data) {
                            return moment(data).format("LL");
                        }
                    },
                    {
                        data: "gig.genre.name"
                    },
                    {
                        data: "attendance",
                        render: function (data, type, vm)
                        {
                            
                            if (data) {
                                if (new Date(vm.gig.date) >= today) {
                                    return "<button class='btn btn-default js-unattendance' data-attendace-id=" + vm.id + ">Unattendance</button>";
                                } else {
                                    return "<button class='btn btn-default js-unattendance' data-attendace-id=" + vm.id + " disabled>Unattendance</button>";
                                }
                                    
                            } else {
                                if (new Date(vm.gig.date) >= today) {
                                    return "<button class='btn btn-default js-attendance' data-gig-id= " + vm.gig.id + ">Attendance</button>";
                                } else {
                                    return "<button class='btn btn-default js-attendance' data-gig-id= " + vm.gig.id + " disabled>Attendance</button>";
                                }
                                    
                            }
                            
                        }
                    }
                ],
                order: [2, 'desc']
            });
        });
    </script>
}